// Place all the styles related to the data controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-container {
	text-align:center;
	border: 1px solid black;
	width: 400px;
	margin: 0 auto;
	padding: 15px;
}

input#appname, #src_appname, #dest_appname {
	width: 50px;
}

input#apikey, #src_apikey, #dest_apikey {
	width: 100%;
}

label {
	text-align: left;
}

button[type="submit"] {
  width: 10em;
  height: 3em;
  font-size: 14px;
  font-weight: bold;
}

#github {
  text-align: center;
  display: block;
}

/* PLACEHOLDER SYLTING */

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}
