<!DOCTYPE html>
<html>
  <head>
    <title>InfusionsoftAPITools</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <br />
    <a href="https://github.com/joshfullmer/InfusionsoftAPITools" target="_blank"><span id="github">GitHub and Instructions</span></a>
  </body>
</html>
